<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Lenguajes Formales y Automatas</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body class=" blue-grey lighten-5">
	<header>
        <nav>
        <div class="nav-wrapper blue darken-1">
          
          <ul id="slide-out" class="side-nav menuLateral">
            <li></li>
            <li>
            	<%= link_to operations_path do%>
					<i class="mdi-action-history"></i>
					<b class="truncate"> Anteriores</b>
				<% end %>
            </li>
            <li>
				<%= link_to samples_path do%>
					<i class="mdi-action-translate"></i>
					<b class="truncate"> Lenguajes</b>
				<% end %>
            </li>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse show-on-large">
            <i class="fa fa-bars menuLauncher"></i>
          </a>                
          
          <div class="right brand-logo homeLauncher">
            <%= link_to root_path do %>
              <b class="">LFyA</b>
              <i class="fa fa-language"></i>
            <% end %>
          </div>
        </div>
      </nav>
    </header>


<%= yield %>


<footer class="page-footer blue darken-3">
	<div class="fila">
		<div class="small-8 medium-9 large-9 columna">
		  <h5 class="white-text">Desarrollado por:</h5>
		  <p class="grey-text text-lighten-3">
		  	Joaquín García Santiago
		  </p>
      <p class="grey-text text-lighten-3">
        Ricardo Navarrete Lozano
      </p>
      <p class="grey-text text-lighten-3">
        Francisco Javier Guadalupe Hernandez
      </p>
		</div>
	  <div class="small-4 medium-3 large-3 columna">
	  <h5 class="white-text">Codigo Fuente:</h5>
	  	<a class="cyan-text text-darken-1 " href="https://gitlab.com/jogs/AutomataUno/tree/master">
          <span class="fa-stack fa-lg contactIcon">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-git fa-stack-1x fa-inverse"></i>
          </span>
        </a>
	  </div>
	</div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 Todos los derechos recervados
      </div>
    </div>
  </footer>

</body>
</html>
