<%= form_for(@operation) do |f| %>
  <% if @operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% @operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="fila">
  <div class="small-12 medium-6 large-6 columnas">
    <%= f.label :sample1, "Lenguaje 1:" %>
    <%=f.select :sample1, options_from_collection_for_select(@samples, "id", "lenguaje").html_safe, multiple: true, class: 'blue-text', include_blank: "Elige un lenguaje"%>
  </div>
  <div class="small-12 medium-6 large-6 columnas">
    <%= f.label :sample2, "Lenguaje 2:" %>
    <%=f.select :sample2, options_from_collection_for_select(@samples, "id", "lenguaje").html_safe, multiple: true, class: 'blue-text', include_blank: "Elige un lenguaje"%>
  </div>
  <div class="small-12 medium-6 large-6 columnas">
    <%= f.label :kleene %>
    <p class="range-field">
      <%= f.range_field :kleene, in:1..10 %>
    </p>
  </div>
  <div class="small-12 medium-6 large-6 columnas right">
      <button class="btn-large waves-effect waves-light right" type="submit" name ="action">
        Guardar
        <i class="mdi-content-save"></i>
      </button>
    </div>
</div>
<% end %>
