<h1>Editar Operación</h1>

<%= render 'form' %>

<div class="fila centrado center-align">
	<%= link_to @operation do%>
		<b>
			<i class="fa fa-eye"></i>
			Ver
		</b>
	<% end %> |
	<%= link_to operations_path do%>
		<b>
			<i class="fa fa-arrow-left"></i>
			Historial
		</b>
	<% end %>
</div>
