<p id="notice"><%= notice %></p>

<div class="card-panel fila centrado">
  <h1>Listado de operaciones</h1>

  <table class="centered bordered hoverable responsive-table">
    <thead>
      <tr>
        <th>Alfabeto1</th>
        <th>Lenguaje1</th>
        <th>Alfabeto2</th>
        <th>Lenguaje2</th>
        <th>Kleene</th>
        <th colspan="3">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @operations.each do |operation| %>
        <tr>
          <%ver = Sample.find(operation.sample1)%>
          <td><%= ver.alfabeto %></td>
          <td><%= ver.lenguaje %></td>
          <%ver = Sample.find(operation.sample2)%>
          <td><%= ver.alfabeto %></td>
          <td><%= ver.lenguaje %></td>
          <td>Iteraciones: <%= operation.kleene %></td>
          <td><%= link_to operation do%>
              <b>
                <i class="fa fa-eye"></i>
                Ver
              </b>
            <% end %></td>
          <td><%= link_to edit_operation_path(operation) do%> 
                <b>
                  <i class="mdi-editor-mode-edit"></i>
                  Editar
                </b>
              <% end %></td>
          <td><%= link_to operation, method: :delete, data: { confirm: '¿Esta seguro que decea borrar este elemento?' } do%>
                <b>
                  <i class="mdi-action-delete"></i>
                  Borrar
                </b>
              <% end %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to new_operation_path, 'class' => 'btn-flat btn waves-effect waves-light blue accent-2 white-text right' do %>
    <i class="mdi-content-add"></i>Nuevo
  <% end %>
</div>