<h1>Nueva Operación</h1>

<%= render 'form' %>

<div class="fila centrado center-align">
	<%= link_to operations_path do%>
		<b>
			<i class="fa fa-arrow-left"></i>
			Historial
		</b>
	<% end %>
</div>
