<p id="notice"><%= notice %></p>
<div class="card fila centrado blue-grey darken-1 white-text tarjeta">
	<p class="card-title">Operaciones para:</p>
	<div class="card-content">
		<div class="card-panel small-12 medium-6 large-6 columnas blue-text">
			<p>
			  <h4>Elemento 1:</h4>
			  	<p>
					Alfabeto: <b>{<%= @elemento1.alfabeto%>}</b>
				</p>
				<p>
					Lenguaje: <b>{<%= @elemento1.lenguaje%>} (L1)</b>
				</p>
			</p>			
		</div>
		<div class="card-panel small-12 medium-6 large-6 columnas blue-text">
			<p>
			  <h4>Elemento 2:</h4>
			  	<p>
					Alfabeto: <b>{<%= @elemento2.alfabeto%>}</b>
				</p>
				<p>
					Lenguaje:<b>{<%= @elemento2.lenguaje%>} (L2)</b>
				</p>
			</p>
		</div>
		<div class="fila centrado">
			<div class="small-12 columna">
			  <ul class="tabs">
			    <li class="tab blue-grey darken-1 small-3 columnas">
			    	<a class="truncate purple-text text-lighten-4" href="#union">
			    		<span class="fa-stack fa-lg blue-text">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-stack-1x fa-inverse">⋃</i>
						</span>
			    		<strong class="hide-on-med-and-down">Union</strong>
		    		</a>
		    	</li>
		    	<li class="tab blue-grey darken-1 small-3 columnas">
			    	<a class="truncate purple-text text-lighten-4" href="#inter">
			    		<span class="fa-stack fa-lg blue-text">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-stack-1x fa-inverse">⋂</i>
						</span>
			    		<strong class="hide-on-med-and-down">Intersección</strong>
			    	</a>
		    	</li>
			    <li class="tab blue-grey darken-1 small-3 columnas">
					<a class="truncate purple-text text-lighten-4" href="#concatenacion">
						<span class="fa-stack fa-lg blue-text">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-stack-1x fa-inverse">·</i>
						</span>
			    		<strong class="hide-on-med-and-down">Concatenación</strong>
					</a>
				</li>
			    <li class="tab blue-grey darken-1 small-3 columnas">
			    	<a class="truncate purple-text text-lighten-4" href="#kleene">
			    		<span class="fa-stack fa-lg blue-text">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-stack-1x fa-inverse">*</i>
						</span>
			    		<strong class="hide-on-med-and-down">Estrella de Kleene</strong>
			    		
			    	</a>
		    	</li>
		    	<li class="tab blue-grey darken-1 small-3 columnas">
			    	<a class="truncate purple-text text-lighten-4" href="#resta">
			    		<span class="fa-stack fa-lg blue-text">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-stack-1x fa-inverse">-</i>
						</span>
			    		<strong class="hide-on-med-and-down">Resta</strong>
			    	</a>
		    	</li>
			  </ul>
			</div>
			<div class="fila">
				<div id="union" class="small-12 columna center-align desborde-x ajustado">
					<h4 class="subtitulo">La union de los lenguajes:</h4>
					<p>L1 ⋃ L2: <b><%= @union%></b></p>
					<p>L2 ⋃ L1: <b><%= @union%></b></p>
				</div>
				<div id="inter" class="small-12 columna center-align desborde-x ajustado">
					<h4 class="subtitulo">La Intersección de los lenguajes:</h4>
					<p>L1 ⋂ L2: <b><%= @inter%></b></p>
					<p>L2 ⋂ L1: <b><%= @inter%></b></p>
				</div>
				<div id="concatenacion" class="small-12 columna center-align desborde-x ajustado">
					<h4 class="subtitulo">La concatenación de los lenguajes:</h4>
					<p>L1 · L2: <b>{<%= @concat1%>}</b></p>
					<p>L2 · L1: <b>{<%= @concat2%>}</b></p>
				</div>
				<div id="kleene" class="small-12 columna center-align desborde-x ajustado">
					<h4 class="subtitulo">La Estrella de Kleene de los lenguajes:</h4>
					<p>
					  <strong>Numero de Interaciónes: </strong>
					  <%= @operation.kleene %>
					</p><br>
					<p>L1*: <b><%= @estrella1%></b></p>
					<p>
					  <strong>Numero de Elementos: </strong>
					  <%= @tamE1 %>
					</p><br>
					<p>L2*: <b><%= @estrella2%></b></p>
					<p>
					  <strong>Numero de Elementos: </strong>
					  <%= @tamE2 %>
					</p>
				</div>
				<div id="resta" class="small-12 columna center-align desborde-x ajustado">
					<h4 class="subtitulo">La resta de los lenguajes:</h4>
					<p>L1 - L2: <b><%= @resta1%></b></p>
					<p>L2 - L1: <b><%= @resta2%></b></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card-action center-align">
		<%= link_to edit_operation_path(@operation) do%> 
                <b>
                  <i class="mdi-editor-mode-edit"></i>
                  Editar
                </b>
              <% end %>
		<%= link_to operations_path do%>
			<b>
				<i class="fa fa-arrow-left"></i>
				Historial
			</b>
		<% end %>		
	</div>
</div>
