<div class="container card-panel centrado">  
  <%= form_for(@sample) do |f| %>
    <% if @sample.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@sample.errors.count, "error") %> Esta información no pudo ser guardada:</h2>

        <ul>
        <% @sample.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <div class="fila">
    <div class="input-field small-12 medium-6 large-6 columnas">
      <%= f.label :alfabeto, "Alfabeto :" %>
      <%= f.text_field :alfabeto, :required => true, :pattern => "[0-9a-zA-Z]{1}([,][0-9a-zA-Z])*", :title => "Ingrese un alfabeto valido", :class => "validate" %>
    </div>
    <div class="input-field small-12 medium-6 large-6 columnas">
      <%= f.label :lenguaje, "Lenguaje :" %>
      <%= f.text_field :lenguaje, :required => true, :pattern => "[0-9a-zA-Z]+([,][0-9a-zA-Z]+)*", :title => "Ingrese un lenguaje valido", :class => "validate" %>
    </div>
  </div>
  <div class="fila">
    <div class="small-12 medium-6 large-6 columnas right">
      <button class="btn-large waves-effect waves-light right" type="submit" name ="action">
        Guardar
        <i class="mdi-content-save"></i>
      </button>
    </div>
  </div>
  <!--
    <div class="actions">
      <%= f.submit %>
    </div>
  -->
  <% end %>
</div>