<h1>Editar Alfabeto y/o Lenguaje</h1>

<%= render 'form' %>
<div class="fila centrado center-align">
	<%= link_to @sample do%>
		<b>
			<i class="fa fa-eye"></i>
			Ver
		</b>
	<% end %> |
	<%= link_to samples_path do%>
		<b>
			<i class="fa fa-arrow-left"></i>
			Lenguajes
		</b>
	<% end %>
</div>
