<p id="notice"><%= notice %></p>

<div class="card-panel fila centrado">
  <h1>Listado: Alfabetos y lenguajes</h1>

  <table class="centered bordered hoverable responsive-table">
    <thead>
      <tr>
        <th>Alfabeto</th>
        <th>Lenguaje</th>
        <th colspan="2">Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @samples.each do |sample| %>
        <tr>
          <td><%= sample.alfabeto %></td>
          <td><%= sample.lenguaje %></td>
          <td><%= link_to edit_sample_path(sample.id) do%> 
                <b>
                  <i class="mdi-editor-mode-edit"></i>
                  Editar
                </b>
              <% end %>
          </td>
          <td><%= link_to sample, method: :delete, data: { confirm: '¿Esta seguro que decea borrar este elemento?' } do%>
              <b>
                <i class="mdi-action-delete"></i>
                Borrar
              </b>
            <% end %> 
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
  <%= link_to new_sample_path, 'class' => 'btn-flat btn waves-effect waves-light blue accent-2 white-text right' do %>
    <i class="mdi-content-add"></i>Nuevo
  <% end %>
  <%unless @samples.count<2%>
    <%= link_to new_operation_path, 'class' => 'btn-flat btn waves-effect waves-light deep-purple accent-2 white-text right' do %>
      <i class="fa fa-magic"></i>Operaciones
    <% end %>
  <% end %>
</div>
