<h1>Nuevo Alfabeto Y Lenguaje</h1>

<%= render 'form' %>

<div class="fila centrado center-align">
	<%= link_to samples_path do%>
		<b>
			<i class="fa fa-arrow-left"></i>
			Lenguajes
		</b>
	<% end %>
</div>
