<p id="notice"><%= notice %></p>

 <div class="fila centrado center-align">
	<div class="small-12 medium-10 large-8">
	  <div class="card blue-grey lighten-1">
	    <div class="card-content white-text">
	      <span class="card-title">Alfabeto Y Lenguaje</span>
			<p>
			  <strong>Alfabeto:</strong>
			  <%= @sample.alfabeto %>
			</p>

			<p>
			  <strong>Lenguaje:</strong>
			  <%= @sample.lenguaje %>
			</p>
	    </div>
	    <div class="card-action">
			<%= link_to edit_sample_path(@sample) do%> 
				<b>
					<i class="mdi-editor-mode-edit"></i>
					Editar
				</b>
			<% end %>
			<%= link_to samples_path do%>
				<b>
					<i class="fa fa-arrow-left"></i>
					Lenguajes
				</b>
			<% end %>
	    </div>
	  </div>
	</div>
</div>

