.desborde-x{
	overflow-x: scroll; 
}
.ajustado{
	margin: 0.5rem;
	padding: 0.5rem; 
}
.tarjeta{
	font-size: 1.2em;
	padding: 1rem 2rem;
}
.centrado{
	margin: 1rem auto !important;
}
.derecha{
	float: right !important;
}
.separacion{
	margin-top: 2.5rem !important;
}
.menuLateral{
	background: rgba(220, 220, 220, 0.9) !important;
}
.userPick{
	margin: 5px 60px !important;
	height: 105px;
	width:  105px;
	border-radius: 50px;
}
.iconMenu{
	font-size: 18px !important;
}
.menuLauncher{
	margin-left: 10px; 
}
.homeLauncher{
	margin-right: 2px;
}
.contactIcon{
	font-size: 25px !important;
}
.boton-principal{
	float: right;
	bottom: 7px;
	right: 30px; 
	position: relative;
}
.banda{
	width: 100%;
	padding: 20px;
	background-color: #00bfa5;
}
.titulo{
	font-size: 3.5rem;
	font-style: bold;
}
.subtitulo{
	font-size: 2rem; 
}
.titulo, .subtitulo, .Logo{
	padding: 0 3rem;	
}
.Logo{ 
	height: 4.2rem !important;
	width: auto;
}
.mitad-ver{
	position: inherit;
	margin: 0 !important;
	height: 49% !important;
	width: 100% !important;
}
#notice{
	padding: 0.2rem 2rem;
	font-size: 1.2rem;
	color: #1a237e;
}