<div class="card-panel teal lighten-2 centrado blue-grey-text text-darken-4">
	<div class="fila">
		<b><h1 class="titulo white-text">Lenguajes Formales y Automatas</h1>
		<p>Primer Parcial.</p>
		<p>Programa que almacena alfabetos y lenguajes, y realiza con ellos operaciones como:</p>
		<ul>
			<li>Union</li>
			<li>Intersección</li>
			<li>Concatenación</li>
			<li>Estrella de kleene</li>
			<li>Resta</li>
			<li>Ver alfabetos y lenguajes</li>
		</ul></b>
	</div>
	<%= link_to new_sample_path, 'class' => 'btn-floating btn-large waves-effect waves-light indigo boton-principal' do %>
		<i class="mdi-content-add"></i>
	<% end %>
</div>
	<div class="fila card-panel centrado separacion">
		<!--video class="responsive-video small-12 columna" controls>
			<source src="uso.mp4" type="video/mp4">
		</video-->
		<%= video_tag "uso.mp4", :class => "responsive-video small-12 columna", :controls => true %>
	</div>
